*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.heading{
    height: 15vh;
    background-color: #CFDEE7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: white;
}

.container{
    height: 85vh;
    background-color: #92B4F4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calci{
    background-color: #CFDEE7;
    height: 62vh;
    width: 28vw;
}

.upper{
    height: 14%;
    display: flex;
    gap:3px;
}

.display{
    width: 85%;
    background-color: white;
    height: 100%;
    border: 3px solid grey;
    border-radius: 10px;
    padding: 0.5rem;
    font-weight: bold;
    font-size: 1.3rem;
}

.upperC{
    width: 15%;
    background-color: white;
    height: 100%;
    border: none;
    border: 3px solid grey;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: bold;
}

.lower{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:4px;
    padding-top: 10px;
}

.lowerk{
    height: 12vh;
    width: 21%;
    background-color: white;
    border: 3px solid gray;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.5rem;
}










